body {
    margin: 0;
    font-family: sans-serif;
}

main {
    margin: 0 auto;
    max-width: 500px;
}

table,
td,
th {
    border-collapse: collapse;
}

body {
    padding: 1rem;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

td,
th {
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

td:last-child,
th:last-child {
    border-right: none;
}

tfoot td {
    border-bottom: none;
}

textarea {
    resize: none;
    width: 100%;
    height: 300px;
}

ul {
    padding-left: 1rem;
}

li {
    margin: 1rem 0;
}

textarea {
    padding: 0.75rem;
    font-size: 0.875rem;
}

.gray {
    background-color: lightgray;
}

.bb-field {
    display: inline-grid;
    margin: 0 auto;
    grid-template-columns: repeat(15, 1.25rem);
    grid-template-rows: repeat(13, 1.25rem);
    border: 1px solid black;
    margin: 1rem;
    gap:0.25rem;
    grid-template-areas:
  "a1 a2 a3 a4 a5 a6 a7 a8 a9 a10 a11 a12 a13 a14 a15"
  "b1 b2 b3 b4 b5 b6 b7 b8 b9 b10 b11 b12 b13 b14 b15"
  "c1 c2 c3 c4 c5 c6 c7 c8 c9 c10 c11 c12 c13 c14 c15"
  "d1 d2 d3 d4 d5 d6 d7 d8 d9 d10 d11 d12 d13 d14 d15"
  "e1 e2 e3 e4 e5 e6 e7 e8 e9 e10 e11 e12 e13 e14 e15"
  "f1 f2 f3 f4 f5 f6 f7 f8 f9 f10 f11 f12 f13 f14 f15"
  "g1 g2 g3 g4 g5 g6 g7 g8 g9 g10 g11 g12 g13 g14 g15"
  "h1 h2 h3 h4 h5 h6 h7 h8 h9 h10 h11 h12 h13 h14 h15"
  "i1 i2 i3 i4 i5 i6 i7 i8 i9 i10 i11 i12 i13 i14 i15"
  "j1 j2 j3 j4 j5 j6 j7 j8 j9 j10 j11 j12 j13 j14 j15"
  "k1 k2 k3 k4 k5 k6 k7 k8 k9 k10 k11 k12 k13 k14 k15"
  "l1 l2 l3 l4 l5 l6 l7 l8 l9 l10 l11 l12 l13 l14 l15"
  "m1 m2 m3 m4 m5 m6 m7 m8 m9 m10 m11 m12 m13 m14 m15";
}

.field-1 {
    & > .thrower {
    grid-area: d8
  }
  & > .blitzer-1 {
    grid-area: d6
  }
  & > .blitzer-2 {
    grid-area: d10
  }
  & > .linemen-1 {
    grid-area: a7
  }
  & > .linemen-2 {
    grid-area: a8
  }
  & > .linemen-3 {
    grid-area: a9
  }
  & > .linemen-4 {
    grid-area: c5
  }
  & > .linemen-5 {
    grid-area: c8
  }
  & > .linemen-6 {
    grid-area: c11
  }
  & > .linemen-7 {
    grid-area: d9
  }
  & > .linemen-8 {
    grid-area: d7
  }
}

.field-2 {
    & > .thrower {
    grid-area: c6
  }
  & > .blitzer-1 {
    grid-area: d2
  }
  & > .blitzer-2 {
    grid-area: d14
  }
  & > .linemen-1 {
    grid-area: a7
  }
  & > .linemen-2 {
    grid-area: a8
  }
  & > .linemen-3 {
    grid-area: a9
  }
  & > .linemen-4 {
    grid-area: c3
  }
  & > .linemen-5 {
    grid-area: d5
  }
  & > .linemen-6 {
    grid-area: c10
  }
  & > .linemen-7 {
    grid-area: d11
  }
  & > .linemen-8 {
    grid-area: c13
  }
}
.field-3 {
    & > .thrower {
    grid-area: h8
  }
  & > .blitzer-1 {
    grid-area: b4
  }
  & > .blitzer-2 {
    grid-area: b12
  }
  & > .linemen-1 {
    grid-area: a6
  }
  & > .linemen-2 {
    grid-area: a7
  }
  & > .linemen-3 {
    grid-area: a8
  }
  & > .linemen-4 {
    grid-area: a9
  }
  & > .linemen-5 {
    grid-area: a10
  }
  & > .linemen-6 {
    grid-area: e8
  }
  & > .linemen-7 {
    grid-area: b2
  }
  & > .linemen-8 {
    grid-area: b14
  }
}

.bb-field > * {
    border: 1px solid black;
}